.movieTable{
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.movieTable tr:nth-child(even){background-color: #f2f2f2;}
.movieTable tr:hover {background-color: #ddd;}
.movieTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.inputNewMovie{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.labelNewMovie{
  color: black;
}

.deleteImage{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 35px;
}

#root {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */

  padding: 150px;
}

